#feed {
    margin: 30px 0px 30px 0px;
    color: #ffffff96;
}

#feed > li {
    margin: 0px 200px 30px 200px;
    text-align: center;
}

#tweet {
    font-size: 20px;
    color:white;
}

#feed p > a {
    display: block;
    font-size: 10px;
}

#time {
    font-size: 10px;
}